{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/core-modules": [
      "styled-jsx/css"
    ],
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src/"
          ]
        ],
        "extensions": [
          ".js"
        ]
      }
    }
  },
  "rules": {
    // turn on errors for missing imports
    "import/no-unresolved": "error",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "jsx-a11y/no-autofocus": "off"
  }
}