@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-image: url('/background.png');
    background-repeat: repeat;
    background-size: 280px;
    --main-background: #efded6;
}

::-moz-selection {
    /* Code for Firefox */
    color: #333;
    background: var(--main-background);
}

::selection {
    color: #333;
    background: var(--main-background);
}

* {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
