@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-image: url('/background.png');
    background-repeat: repeat;
    background-size: 280px;
    --main-background: #efded6;
}

::-moz-selection {
    /* Code for Firefox */
    color: #333;
    background: var(--main-background);
}

::selection {
    color: #333;
    background: var(--main-background);
}

* {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}

.float-animation {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

*::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}
