@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.paper-noise {
    background-image: url('/background.png');
    background-repeat: repeat;
    background-size: 280px;
    --main-background: #efded6;
}

::-moz-selection {
    /* Code for Firefox */
    color: #333;
    background: var(--main-background);
}

::selection {
    color: #333;
    background: var(--main-background);
}

* {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}

.float-animation {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

*::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
}

.bg-image {
    background-image: url('/background.png');
    background-repeat: repeat;
    background-size: 280px;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.embla {
    max-width: 48rem;
    margin: auto;
    --slide-height: 10rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ps-sidebar-container {
    background-color: rgba(0, 0, 0, 0.9) !important;
    top: 0;
    left: 0;
    height: 100vh !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ps-menuitem-root {
    padding-left: 16px;
    padding-right: 16px;
}

.ps-menu-button {
    padding-left: 6px !important;
    padding-right: 0px !important;
    align-self: center;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    transition: background-color 0.2s ease-in-out;
}

.css-ewdv3l {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.child-bg > * {
    --bg-color: #fefcf5;
    background-color: var(--bg-color) !important;
}

.ps-collapsed {
    width: 68px !important;
    min-width: 68px !important;
}
